<section class="nossos-compromissos">
  <div class="compromissos-hero-image">
    <h1>Nossos Compromissos</h1>
  </div>
  <div class="compromissos">
    <h2>Responsabilidade Social</h2>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit
      esse</p>
  </div>
  <div class="compromissos">
    <h2>Responsabilidade Ambiental</h2>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit
      esse</p>
  </div>
</section>
