<div class="nav-wrapper">
  <div class="mobile-nav-toggle">
    <span></span>
  </div>
  <div class="logo"></div>
  <nav>
    <div class="site-nav">
      <ul>
        <li>Nossos Negócios
          <ul class="drop-menu">
            <li>Manutenção</li>
            <li>Facilities</li>
          </ul>
        </li>
        <li>Nossos Compromissos
          <ul class="drop-menu">
            <li>Responsabilidade Social</li>
            <li>Responsabilidade Ambiental</li>
          </ul>
        </li>
        <li><a href="#noticias">Notícias</a></li>
        <li>Fale Conosco
          <ul class="drop-menu">
            <li>Comercial</li>
            <li>Trabalhe Conosco</li>
          </ul>
        </li>
        <li><a href="#sobre">Sobre Nós</a></li>
      </ul>
    </div>
    <div class="face-icon">
      <img src="/assets/img/facebok.svg" alt="" />
    </div>
  </nav>
</div>
<div class="clearfix">
  <div class="mobile-nav-belt">
    <div class="mobile-nav">
      <ul>
        <li>Nossos Negócios
          <span class="nav-arrow"></span>
          <ul class="drop-menu">
            <li>Manutenção</li>
            <li>Facilities</li>
          </ul>
        </li>
        <li>Nossos Compromissos
          <span class="nav-arrow"></span>
          <ul class="drop-menu">
            <li>Responsabilidade Social</li>
            <li>Responsabilidade Ambiental</li>
          </ul>
        </li>
        <li><a href="#noticias">Notícias</a></li>
        <li>Fale Conosco
          <span class="nav-arrow"></span>
          <ul class="drop-menu">
            <li>Comercial</li>
            <li>Trabalhe Conosco</li>
          </ul>
        </li>
        <li><a href="#sobre">Sobre Nós</a></li>
      </ul>
    </div>
  </div>
</div>
