<div class="nav-wrapper">
  <div class="mobile-nav-toggle">
    <span></span>
  </div>
  <a href="{{site.baseurl}}/index.html">
    <div class="logo"></div>
  </a>
  <nav>
    <div class="site-nav">
      <ul>
        <li>Nossos Negócios
          <ul class="drop-menu">
            <li><a href="{{site.baseurl}}/negocios/">Manutenção</a></li>
            <li><a href="{{site.baseurl}}/negocios/">Facilities</a></li>
          </ul>
        </li>
        <li>Nossos Compromissos
          <ul class="drop-menu">
            <li><a href="{{site.baseurl}}/compromissos/">Responsabilidade Social</a></li>
            <li><a href="{{site.baseurl}}/compromissos/">Responsabilidade Ambiental</a></li>
          </ul>
        </li>
        <li><a href="#noticias">Notícias</a></li>
        <li>Fale Conosco
          <ul class="drop-menu">
            <li><a href="{{site.baseurl}}/fale-conosco/">Comercial</a></li>
            <li><a href="{{site.baseurl}}/fale-conosco/">Trabalhe Conosco</a></li>
          </ul>
        </li>
        <li><a href="{{site.baseurl}}/sobre-nos/">Sobre Nós</a></li>
      </ul>
    </div>
    <div class="face-icon">
      <img src="/assets/img/facebok.svg" alt="" />
    </div>
  </nav>
</div>
<div class="clearfix">
  <div class="mobile-nav-belt">
    <div class="mobile-nav">
      <ul>
        <li>Nossos Negócios
          <span class="nav-arrow"></span>
          <ul class="drop-menu">
            <li><a href="{{site.baseurl}}/negocios/">Manutenção</a></li>
            <li><a href="{{site.baseurl}}/negocios/">Facilities</a></li>
          </ul>
        </li>
        <li>Nossos Compromissos
          <span class="nav-arrow"></span>
          <ul class="drop-menu">
            <li><a href="{{site.baseurl}}/compromissos/">Responsabilidade Social</a></li>
            <li><a href="{{site.baseurl}}/compromissos/">Responsabilidade Ambiental</a></li>
          </ul>
        </li>
        <li><a href="">Notícias</a></li>
        <li>Fale Conosco
          <span class="nav-arrow"></span>
          <ul class="drop-menu">
            <li><a href="{{site.baseurl}}/fale-conosco/">Comercial</a></li>
            <li><a href="{{site.baseurl}}/fale-conosco/">Trabalhe Conosco</a></li>
          </ul>
        </li>
        <li><a href="{{site.baseurl}}/sobre-nos/">Sobre Nós</a></li>
      </ul>
    </div>
  </div>
</div>
