<footer>
  <div class="container">
    <div class="col">
      <div class="box-content">
        <h6>Desenvolvido por:</h6>
        <div class="libelula"></div>
      </div>
    </div>
    <div class="col">
      <div class="box-content">
        <div class="location"></div>
        <h6>Rua João José da Silva, 69 São Paulo - SP</h6>
      </div>
    </div>
    <div class="col">
      <div class="box-content">
        <div class="phone"></div>
        <h6>Tel: (11) 2334-3738  (11) 98684-8929  (11) 97106-3046</h6>
      </div>
    </div>
  </div>
</footer>
